@model FitIndia.Models.User

@{
    ViewBag.Title = "User Profile";
}
<ul id="menuNav">
    <li>
        @Html.ActionLink("Home", "Index", "Treatment")
    </li>
    <li>
        @Html.ActionLink("Profile", "Index", "User")
    </li>
    <li>
        @Html.ActionLink("Add Report", "Create","Treatment")
    </li>
    <li>
        @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "navRight" })
    </li>
</ul>

<fieldset>
    <legend>User Profile</legend>
    <table>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Sex)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Sex)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.DateOfBirth)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Address)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Address)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.MobileNo)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.MobileNo)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.EmailID)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EmailID)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ImageUrl)
                </div>
            </td>
        </tr>

    </table>
</fieldset>

