@model FitIndia.Models.User

@{
    ViewBag.Title = "User Profile";
}


<fieldset>
    <legend>User Profile</legend>
    <table>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Name)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Name)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Sex)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Sex)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.DateOfBirth)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.DateOfBirth)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.Address)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.Address)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.MobileNo)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.MobileNo)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.EmailID)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.EmailID)
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="display-label">
                    @Html.DisplayNameFor(model => model.ImageUrl)
                </div>
            </td>
            <td>
                <div class="display-field">
                    @Html.DisplayFor(model => model.ImageUrl)
                </div>
            </td>
        </tr>

    </table>
</fieldset>

