@model FitIndia.Models.TreatmentReport

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TreatmentReport</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AadhaarNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AadhaarNo)
            @Html.ValidationMessageFor(model => model.AadhaarNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DateOfTreatment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DateOfTreatment)
            @Html.ValidationMessageFor(model => model.DateOfTreatment)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TreatingOrganization)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TreatingOrganization)
            @Html.ValidationMessageFor(model => model.TreatingOrganization)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DoctorName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DoctorName)
            @Html.ValidationMessageFor(model => model.DoctorName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MedicalCondition)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MedicalCondition)
            @Html.ValidationMessageFor(model => model.MedicalCondition)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TreatmentGiven)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TreatmentGiven)
            @Html.ValidationMessageFor(model => model.TreatmentGiven)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
