@model IEnumerable<FitIndia.Models.TreatmentReport>

@{
    ViewBag.Title = "Treatment Report";
}

<h2>Treatment Report</h2>

<p>
    @Html.ActionLink("Add Report", "Create")
</p>
@if(Model.Count()==0)
{
    <table>
        <tr>
            <td>
                No Record Found
            </td>
        </tr>
    </table>
}
else
{
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AadhaarNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfTreatment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatingOrganization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MedicalCondition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TreatmentGiven)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AadhaarNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfTreatment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatingOrganization)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DoctorName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MedicalCondition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TreatmentGiven)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
}