@model FitIndia.Models.BillReport

@{
    ViewBag.Title = "Bill Report";
}
<ul id="menuNav">
    <li>
        @Html.ActionLink("Home", "Index", "Treatment")
    </li>
    <li>
        @Html.ActionLink("Profile", "Index", "User")
    </li>
    <li>
        @Html.ActionLink("Add Report", "Create", "Treatment")
    </li>
    <li>
        @Html.ActionLink("Logout", "Logout", "Account", null, new { @class = "navRight" })
    </li>
</ul>
<table align="center" style="width:450px;">
    <tr>
        <td>
            <div class="container">
                <div class="form-legend">
                    <span>Treatment Billing Section</span>
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <fieldset>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.AadhaarNo)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.AadhaarNo, new { disabled = "disabled" })
                            @Html.ValidationMessageFor(model => model.AadhaarNo)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.ReportID)
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(model => model.ReportID)
                            @Html.ValidationMessageFor(model => model.ReportID)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.BillDate)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.BillDate)
                            @Html.ValidationMessageFor(model => model.BillDate)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.Category)
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("Category", new List<SelectListItem>
            {
                new SelectListItem { Text = "Medicines & Drugs", Value="Medicines & Drugs" },
                new SelectListItem { Text = "X Rays & Reports", Value="X Rays & Reports" },
                new SelectListItem { Text = "Doctor Consultation", Value="Doctor Consultation" },
                new SelectListItem { Text = "Consumbles", Value="Consumbles" },
                new SelectListItem { Text = "Room Rent", Value="Room Rent" }
            }, "Select Category")

                            @Html.ValidationMessageFor(model => model.Category)
                        </div>

                        <div class="editor-label">
                            @Html.LabelFor(model => model.TreatmentCost)
                        </div>
                        <div class="editor-field">
                            @Html.EditorFor(model => model.TreatmentCost)
                            @Html.ValidationMessageFor(model => model.TreatmentCost)
                        </div>

                        <p>
                            <input type="submit" value="Create" class="btn" />
                        </p>
                    </fieldset>
                }
            </div>
        </td>
    </tr>
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
