@model FitIndia.Models.AadhaarLogin

@{
    ViewBag.Title = "Aadhaar Login";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Aadhaar Login</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.AadhaarNo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AadhaarNo)
            @Html.ValidationMessageFor(model => model.AadhaarNo)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Pincode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pincode)
            @Html.ValidationMessageFor(model => model.Pincode)
        </div>

        <p>
            <input type="submit" value="Login" id="btnAjax" name="btnAjax" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
     </script>
    }